{% extends "base.html" %}

{% block header %}
<header class='hero'>
  <div class='hero-body pb-0'>
    <div class='container'>
      <div class='has-text-centered'>
        <h1 class="title">
          <span class="icon-text">
            <span class="icon">
              <!--<i class="fas fa-cubes"></i>-->
              <i class="las la-cubes"></i>
            </span>
            <span>Categories</span>
          </span>
        </h1>
        <p class='subtitle'>{{ terms | length }} categories in total</p>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <span class="icon-text">
      {% for category in terms %}
      <a href="{{ get_taxonomy_url(kind='categories', name=category.name) }}" class="mr-4">
        <span class="icon">
          <!--<i class="fas fa-cube"></i>-->
          <i class="las la-cube"></i>
        </span>
        <span>{{category.name}} <sup>{{ category.pages | length }}</sup></span>
      </a>
      {% endfor %}
    </span>
  </div>
</section>
{% endblock content %}
