.tooltip
  position: relative
  display: inline-block
  border-bottom: 1px dotted black


.tooltip .tooltiptext
  visibility: hidden
  width: max-content
  max-width: 500px
  min-width: 120px
  background-color: #242729
  color: #ffaa00
  text-align: center
  border-radius: 4px
  padding: 10px
  
  /* Position the tooltip */
  position: absolute
  z-index: 1
  bottom: 100%
  left: 50%
  margin-left: -60px /* Use half of the width (120/2 = 60), to center the tooltip */


.tooltip:hover .tooltiptext
  visibility: visible
