{% extends 'base.html' %}

{% block header %}
<header class='hero'>
  <div class='hero-body pb-0'>
    <div class='container'>
      <div class="content">
        <!--<h1 class='title has-text-centered'>404 !</h1>-->
        </br>
        <div style='align:left'>
          <figure class="image is-flex is-justify-content-center is-align-items-center">
          <img class="shadow-glow is-rounded" src="/images/404Error-380-v2-0.png" style="max-width: 192px">
        </figure>
        <div style='align:left'>
        <p class='subtitle has-text-centered'>
          It seems you are more lost than I am !
          </br>
          The <strong>404 error</strong> means the page does not exist.
          </br>
          Try again, but this time start from the
          <a href='{{ config.base_url }}'>
            home page
          </a>.
          </br></br></br>
        </div>
        
        </div>
        </p>
        {% if config.extra.author.avatar %}
        <!--
        <figure class="image is-flex is-justify-content-center is-align-items-center">
          <img class="is-rounded" src='{{ config.extra.author.avatar }}' style="max-width: 192px" />
        </figure>
        -->
        {% endif %}
        <div class="has-text-centered">
        {#{ macros:: social_links( social_config=config.extra.social) }#}
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<!--
<section class='section'>
  <div class='container'>
    <div class="content has-text-centered">
      <a href='{{ config.base_url }}'>
        <span class="icon-text">
          <span class="icon">
            <i class="las la-home"></i>
          </span>
          <span>Home</span>
        </span>
      </a>
    </div>
  </div>
</section>
-->
{% endblock %}
