{% extends 'base.html' %}

{% block header %}
<header class='hero'>
  <div class='hero-body pb-0'>
    <div class='container'>
      <div class="content">
        <h1 class='title has-text-centered'>{{ section.title }}</h1>
        <p class='subtitle has-text-centered'>{{ section.description }}</p>
        {% if config.extra.author.avatar %}
        <figure class="image is-flex is-justify-content-center is-align-items-center">
          <img class="shadow-glow is-rounded" src='{{ config.extra.author.avatar }}' style="max-width: 192px" />
        </figure>
        {% endif %}
        <div class="has-text-centered">
          {{ macros:: donation_links( donation_config=config.extra.donation) }}
        </div>
        <div class="has-text-centered">
          {{ macros:: social_links( social_config=config.extra.social) }}
        </div>
        <div class="has-text-centered">
          {{ macros:: coding_links( coding_config=config.extra.coding) }}
        </div>
        <div class="has-text-centered">
          {{ macros:: academic_links( academic_config=config.extra.academic) }}
        </div>
        <div class="has-text-centered">
          {{ macros:: contact_links( contact_config=config.extra.contact) }}
        </div>
        <div class="has-text-centered">
          {{ macros:: misc_links( misc_config=config.extra.contact) }}
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<section class='section'>
    <div class='container'>
      <div class="content">
        {{ section.content | safe }}
      </div>
    </div>
</section>
{% endblock %}
