{% macro donation_links(donation_config) %}
<span class="icon-text">
  {% if donation_config.patreon %}
  <a href="https://www.patreon.com/{{ donation_config.patreon }}/creators" target="_blank" title="Patreon">
    <span class="icon is-large">
      <iconify-icon data-icon="simple-icons:patreon"></iconify-icon>
    </span>
  </a>
  {% endif %}

  {% if donation_config.liberapay %}
  <a href="https://liberapay.com/{{ donation_config.liberapay }}/" target="_blank" title="Liberapay">
    <span class="icon is-large">
      <iconify-icon data-icon="simple-icons:liberapay"></iconify-icon>
    </span>
  </a>
  {% endif %}
  
  {% if donation_config.opencollective %}
  <a href="https://opencollective.com/{{ donation_config.opencollective }}/" target="_blank" title="OpenCollective">
    <span class="icon is-large">
      <iconify-icon data-icon="simple-icons:opencollective"></iconify-icon>
    </span>
  </a>
  {% endif %}
</span>
{% endmacro %}


{% macro social_links(social_config) %}
<span class="icon-text">
  {% if social_config.facebook %}
  <a href="https://facebook.com/{{ social_config.facebook }}" target="_blank" title="Facebook">
    <span class="icon is-large">
      <i class="fab fa-facebook fa-lg"></i>
    </span>
  </a>
  {% endif %}

  {% if social_config.mastodon %}
  <a href="https://{{ social_config.mastodon }}" target="_blank" title="Mastodon" rel="me">
    <span class="icon is-large">
      <!--<i class="fab fa-mastodon fa-lg"></i>-->
      <iconify-icon data-icon="simple-icons:mastodon"></iconify-icon>
    </span>
  </a>
  {% endif %}

  {% if social_config.twitter %}
  <a href="https://twitter.com/{{ social_config.twitter }}" target="_blank" title="Twitter">
    <span class="icon is-large">
      <!--<i class="fab fa-twitter fa-lg"></i>-->
      <iconify-icon data-icon="simple-icons:twitter"></iconify-icon>
    </span>
  </a>
  {% endif %}

  {% if social_config.linkedin %}
  <a href="https://www.linkedin.com/in/{{ social_config.linkedin }}" target="_blank" title="LinkedIn">
    <span class="icon is-large">
      <!--<i class="fab fa-linkedin fa-lg"></i>-->
      <iconify-icon data-icon="simple-icons:linkedin"></iconify-icon>
    </span>
  </a>
  {% endif %}

  {% if social_config.stackoverflow %}
  <a href="https://stackoverflow.com/users/{{ social_config.stackoverflow }}" target="_blank" title="StackOverflow">
    <span class="icon is-large">
      <!--<i class="fab fa-stack-overflow fa-lg"></i>-->
      <iconify-icon data-icon="simple-icons:stackoverflow"></iconify-icon>
    </span>
  </a>
  {% endif %}

  {% if social_config.steam %}
  <a href="https://steamcommunity.com/id/{{ social_config.steam }}" target="_blank" title="Steam">
    <span class="icon is-large">
      <iconify-icon data-icon="simple-icons:steam"></iconify-icon>
    </span>
  </a>
  {% endif %}
</span>
{% endmacro %}


{% macro coding_links(coding_config) %}
<span class="icon-text">
  {% if coding_config.github %}
  <a href="https://github.com/{{ coding_config.github }}" target="_blank" title="GitHub">
    <span class="icon is-large">
      <!--<i class="fab fa-github fa-lg"></i>-->
      <iconify-icon data-icon="simple-icons:github"></iconify-icon>
    </span>
  </a>
  {% endif %}

  {% if coding_config.gitlab %}
  <a href="https://gitlab.com/{{ coding_config.gitlab }}" target="_blank" title="GitLab">
    <span class="icon is-large">
      <!--<i class="fab fa-gitlab fa-lg"></i>-->
      <iconify-icon data-icon="fa-brands:gitlab"></iconify-icon>
    </span>
  </a>
  {% endif %}

  {% if coding_config.bitbucket %}
  <a href="https://bitbucket.org/{{ coding_config.bitbucket }}" target="_blank" title="Bitbucket">
    <span class="icon is-large">
      <!--<i class="fab fa-bitbucket fa-lg"></i>-->
      <iconify-icon data-icon="simple-icons:bitbucket"></iconify-icon>
    </span>
  </a>
  {% endif %}

  {% if coding_config.codeberg %}
  <a href="https://codeberg.org/{{ coding_config.codeberg }}/" target="_blank" title="Codeberg">
    <span class="icon is-large">
      <iconify-icon data-icon="simple-icons:codeberg"></iconify-icon>
    </span>
  </a>
  {% endif %}
</span>
{% endmacro %}


{% macro academic_links(academic_config) %}
<span class="icon-text">
  {% if academic_config.google_scholar %}
  <a href="https://scholar.google.com/citations?user={{ academic_config.google_scholar }}&hl=en" target="_blank" title="Google Scholar">
    <span class="icon is-large">
      <iconify-icon data-icon="simple-icons:googlescholar"></iconify-icon>
    </span>
  </a>
  {% endif %}

  {% if academic_config.researchgate %}
  <a href="https://www.researchgate.net/profile/{{ academic_config.researchgate }}" target="_blank" title="Research Gate">
    <span class="icon is-large">
      <iconify-icon data-icon="simple-icons:researchgate"></iconify-icon>
    </span>
  </a>
  {% endif %}

  {% if academic_config.orcid %}
  <a href="https://orcid.org/{{ academic_config.orcid }}" target="_blank" title="ORCiD">
    <span class="icon is-large">
      <iconify-icon data-icon="simple-icons:orcid"></iconify-icon>
    </span>
  </a>
  {% endif %}
</span>
{% endmacro %}


{% macro contact_links(contact_config) %}
<span class="icon-text">
  {% if contact_config.xmpp %}
  <a href="xmpp:{{ contact_config.xmpp }}" target="_blank" title="XMPP:{{ contact_config.xmpp }}">
    <span class="icon is-large">
      <iconify-icon data-icon="simple-icons:xmpp"></iconify-icon>
    </span>
  </a>
  {% endif %}

  {% if contact_config.matrix %}
  <a href="https://matrix.to/#/{{ contact_config.matrix }}" target="_blank" title="matrix:{{ contact_config.matrix }}">
    <span class="icon is-large">
      <iconify-icon data-icon="simple-icons:matrix"></iconify-icon>
    </span>
  </a>
  {% endif %}

  {% if social_config.email %}
  <a href="mailto:{{ social_config.email }}" target="_blank" title="mailto:{{ social_config.email }}">
    <span class="icon is-large">
      <!--<i class="far fa-envelope fa-lg"></i>-->
    </span>
  </a>
  {% endif %}
</span>
{% endmacro %}


{% macro misc_links(misc_config) %}
<span class="icon-text">
  {% if config.generate_feeds %}
  <a href="{{ config.base_url }}/{{ config.feed_filenames[0] }}" target="_blank" title="RSS">
    <span class="icon is-large">
      <!--<i class="fas fa-rss fa-lg"></i>-->
      <iconify-icon data-icon="simple-icons:rss"></iconify-icon>
    </span>
  </a>
  {% endif %}
</span>
{% endmacro %}



{% macro page_publish_metadata(page) %}
<span class="icon-text has-text-grey">
  <span class="icon">
    <!--<i class="fas fa-user"></i>-->
    <!--<i class="las la-user"></i>-->
    <i class="las la-user-edit"></i>
  </span>
  <span>{{ config.extra.author.name }} published on</span>
  <span class="icon">
    <!--<i class="far fa-calendar-alt"></i>-->
    <i class="las la-calendar-alt"></i>
  </span>
  <span><time datetime="{{ page.date }}">{{ page.date | date(format='%B %d, %Y') }}</time></span>
</span>
{% endmacro %}

{% macro page_content_metadata(page) %}
<span class="icon-text has-text-grey">
  <span class="icon">
    <i class="far fa-clock"></i>
  </span>
  <span>{{ page.reading_time }} min,</span>
  <span class="icon">
    <i class="fas fa-pencil-alt"></i>
  </span>
  <span>{{ page.word_count }} words</span>
</span>
{% endmacro %}

{% macro render_categories(categories) %}
<p>
  Categories:
  {% for category in categories %}
  <a href="{{ get_taxonomy_url(kind='categories', name=category) }}">
    <span class="icon-text">
      <span class="icon">
        <!--<i class="fas fa-cube"></i>-->
        <!--<i class="las la-cube"></i>-->
        <i class="las la-layer-group"></i>
      </span>
      <span>{{category}}</span>
    </span>
  </a>
  {% endfor %}
</p>
{% endmacro %}

{% macro render_tags(tags) %}
<p>
  Tags:
  {% for tag in tags %}
  <a href="{{ get_taxonomy_url(kind='tags', name=tag) }}">
    <span class="icon-text">
      <span class="icon">
        <!--<i class="fas fa-tag"></i>-->
        <i class="las la-tag"></i>
      </span>
      <span>{{tag}}</span>
    </span>
  </a>
  {% endfor %}
</p>
{% endmacro %}
